<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="border p-3">
      <h3 class="text-center">Day2</h3>
      <p>Shortcuts</p>
      <ul>
        <li>Just click on left panel with a source control image to commit or push local changes to git</li>
        <li>ctrl + shift + p --> will open a command pallete and search for git and select git:clone command and then copy the url from git to clone that solution</li>
        <li>You can change your branch from master by clicking on the same icon(source control) in the left side bottom of VS code</li>
        <li>You can create your branch when you see that modal on the screen</li>
        <img src="assets/images/create_branch_git.png" alt="No image">


      </ul>
      <p>Useful extensions</p>
      <ul>
        <li>Angular snippets</li>
        <li>angular files</li>
        <li>angular language service</li>
        <li>angular2-switcher</li>
        <li>auto rename tag</li>
        <li>bracket pair colorizer 2</li>
        <li>material icon theme</li>
        <li>debugger for chrome</li>
        <li>path intellisense</li>
        <li>prettier - code formatter</li>
        <li>tslint</li>
        <li>Rest client for visual studio code</li>
        <li>can add more..</li>
      </ul>
    </div>
  </div>
</div>
<!-- <app-day2></app-day2> -->
<app-footer></app-footer>
