<div class="container">
  <div class="row">
    <div class="border p-3">
      <h3 class="text-center">Day1 - Manual</h3>
      <p>This component is created manually by specifying @component decorator in .ts file by importing component from '@angular/core' and added selector as 'app-day1-manual' with html templateUrl as 'day1-manual.component.html'</p>
    </div>
  </div>
</div>
