<app-header></app-header>

<div class="text-center p-3">
  <div class="btn-group" role="group" aria-label="Button example">
    <button class="btn btn-secondary" [routerLink]="['/day1']" routerLinkActive="router-link-active" >Day1</button>
    <button class="btn btn-secondary" [routerLink]="['/day2']" routerLinkActive="router-link-active" >Day2</button>
    <button class="btn btn-secondary">Day3</button>
  </div>
</div>

<app-footer></app-footer>
